[Unit]
Description=Vault server

[Service]
ExecStart=/opt/vault/bin/vault server -config=/etc/vault
ExecStartPost=/opt/vault/bin/post-start
Type=exec
User=root
Group=root

[Install]
WantedBy=default.target
